<div class="main-content">
  <div class="container-fluid">
          <div class="row">
                  <button [routerLink]="['/seguimiento']" class="btn btn-primary btn-lg btn-success" type="submit">Regresar</button>
              </div>
      <div class="card">
          <div class="card-header card-header-success">
              <h2><span class="tim-note"></span>Gestionar PQRS</h2>
          </div>
          <div class="card-body">
              <div id="registrarpqrs">
                  <div class="card-title">
                  </div>
                  <div class="row">
                      <div class="col-md-12 order-md-2">
                          <!-- <form (ngSubmit)="guardar()" #forma="ngForm"> -->

                              <div class="row">
                                  <div class="form-group col-md-4 mb-4">
                                      <label>Numero PQRS</label>
                                      <input name="Id_pqr" type="number" class="form-control" placeholder="Id_pqr">
                                      <div class="invalid-feedback">
                                          Valid first name is required.
                                      </div>
                                  </div>

                                  <div class="col-md-4 mb-4">
                                      <label for="tipo_pqr">Tipo PQRS</label>
                                      <select  name="tipo_pqr" class="form-control" required="">
                                                <option value="">Seleccione...</option>
                                                <option value="solicitud">Solicitud</option>
                                                <option value="peticion">Petición</option>
                                                <option value="queja">Queja</option>
                                                <option value="reclamo">Reclamo</option>
                                              </select>
                                      <div class="invalid-feedback">
                                          Please provide a valid state.
                                      </div>
                                  </div>

                                  <div class="form-group col-md-4 mb-4">
                                      <label for="fecha">Fecha</label>
                                      <!-- [(ngModel)]="Pqrs.fecha_pqr" -->
                                      <input  type="date" name="fecha_pqr" class="form-control" placeholder="yyyy-MM-dd">
                                      <div class="invalid-feedback">
                                          Valid first name is required.
                                      </div>
                                  </div>
                              </div>

                              <div class="row">

                                  <div class="col-md-4 mb-4">
                                      <label for="idCliente">Id Cliente</label>
                                      <!-- [(ngModel)]="Pqrs.id_cliente"  -->
                                      <input name="id_cliente" type="text" class="form-control" placeholder="" value="" required="">
                                      <div class="invalid-feedback">
                                          Valid last name is required.
                                      </div>
                                  </div>

                                  <!-- [(ngModel)]="Pqrs.estado_pqr" -->
                                  <div class="col-md-4 mb-4">
                                      <label for="estado">Estado</label>
                                      <select  name="estado_pqr" class="form-control" required=""> 
                                              <option value="creacion">Creación</option>
                                      </select>
                                      


                                      <div class="invalid-feedback">
                                          Please provide a valid state.
                                      </div>
                                  </div>

                                  <div class="col-md-4 mb-4">
                                      <label for="comunicacion">Comunicacion</label>
                                      <!-- [(ngModel)]="Pqrs.id_medio_comunicacion" -->
                                      <input  name="id_medio_comunicacion" type="text" class="form-control" placeholder="" value="" required="">
                                      <div class="invalid-feedback">
                                          Valid last name is required.
                                      </div>
                                  </div>
                              </div>

                              <div class="row">
                                  <div class="col-md-12 mb-12">
                                      <label for="descripcion">Descripción</label>
                                      <!-- [(ngModel)]="Pqrs.descripcion"  -->
                                      <textarea name="descripcion" type="text" class="form-control" placeholder="" value="" required="">  
                                      </textarea>
                                  </div>
                              </div>

                              <br/><br/>

                              <div class="row center">
                                  <div class="col-md-5 mb-5"></div>

                                  <div class="col-md-2">
                                      <div class="form-control">
                                          <button [disabled]="!forma.valid" class="btn btn-primary btn-lg btn-success" type="submit">Crear</button>
                                      </div>
                                  </div>
                                  <div class="col-md-5 mb-5"></div>
                              </div>

                              <div class="card-body">
                                  <div class="table-responsive">
                                      <table class="table">
                                          <thead class=" text-primary">
                                              <tr>
                                                  <th scope="col">#</th>
                                                  <th scope="col">Tipo PQRS</th>
                                                  <th scope="col">Fecha</th>
                                                  <th scope="col">Cliente</th>
                                                  <th scope="col">Estado</th>
                                                  <th scope="col">Comunicación</th>
                                                  <th scope="col">Descripción</th>
                                              </tr>

                                          </thead>
                                          <tbody>
                                              <tr>
                                                  <td>
                                                      1
                                                  </td>
                                                  <td>
                                                      Solicitud
                                                  </td>
                                                  <td>
                                                      03/05/2019
                                                  </td>
                                                  <td>
                                                      Omar Chaparro
                                                  </td>
                                                  <td >
                                                      Creación
                                                  </td>
                                                  <td>
                                                        N/a
                                                  </td>
                                                  <td >
                                                      Solicitud
                                                  </td>
                                              </tr>
                                              <tr>
                                                  <td>
                                                      2
                                                  </td>
                                                  <td>
                                                          Solicitud
                                                      </td>
                                                      <td>
                                                          06/05/2019
                                                      </td>
                                                      <td>
                                                          Juan Quintero
                                                      </td>
                                                      <td >
                                                          Creación
                                                      </td>
                                                      <td>
                                                            N/a
                                                      </td>
                                                      <td >
                                                          Solicitud
                                                      </td>
                                              </tr>
                                              <tr>
                                                  <td>
                                                      3
                                                  </td>
                                                  <td>
                                                          Solicitud
                                                      </td>
                                                      <td>
                                                          14/05/2019
                                                      </td>
                                                      <td>
                                                          Alberto Olarte
                                                      </td>
                                                      <td >
                                                          Creación
                                                      </td>
                                                      <td>
                                                            N/a
                                                      </td>
                                                      <td >
                                                          Solicitud
                                                      </td>
                                              </tr>
                                              <tr>
                                                  <td>
                                                      4
                                                  </td>
                                                  <td>
                                                          Petición
                                                      </td>
                                                      <td>
                                                          17/05/2019
                                                      </td>
                                                      <td>
                                                          Lina Zapata
                                                      </td>
                                                      <td >
                                                          Creación
                                                      </td>
                                                      <td>
                                                            N/a
                                                      </td>
                                                      <td >
                                                              Petición
                                                      </td>
                                              </tr>
                                              <tr>
                                                  <td>
                                                      5
                                                  </td>
                                                  <td>
                                                          Queja
                                                      </td>
                                                      <td>
                                                          21/05/2019
                                                      </td>
                                                      <td>
                                                          Hector Orjuela
                                                      </td>
                                                      <td >
                                                          Creación
                                                      </td>
                                                      <td>
                                                            N/a
                                                      </td>
                                                      <td >
                                                          Queja
                                                      </td>
                                              </tr>
                                              <tr>
                                                  <td>
                                                      6
                                                  </td>
                                                  <td>
                                                          Reclamo
                                                      </td>
                                                      <td>
                                                          25/05/2019
                                                      </td>
                                                      <td>
                                                          Valentina Sanchez
                                                      </td>
                                                      <td >
                                                          Creación
                                                      </td>
                                                      <td>
                                                            N/a
                                                      </td>
                                                      <td >
                                                              Reclamo
                                                      </td>
                                              </tr>
                                          </tbody>
                                      </table>
                                  </div>
                              </div>

                          <!-- </form> -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>
  window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')
</script>
<script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
<script src="form-validation.js"></script> -->