<div class="main-content">
    <div class="container-fluid">
      <h1>Modulo de indicadores (KPI)</h1>
      <h2>Categoria producto</h2>
      <form>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="desde">Desde</label>
            <input name="desde" type="date" class="form-control" />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group">
            <label for="desde">Hasta</label>
            <input name="hasta" type="date" class="form-control" />
          </div>
        </div>
        <div class="col-sm-3">
          <div class="from-group">
            <label for="categoria">Categoria</label>
            <select class="form-control" class="form-control" >
              <option value="categoria1">Categoria 1</option>
              <option value="categoria2">Categoria 2</option>
              <option value="categoria3">Categoria 3</option>
            </select>
          </div>
        </div>
      </div>
      <input type="submit" value="Consultar" class="btn btn-sucess"/>
    </form>
      <input type="button" class="btn btn-info" value="Regresar a pagina anterior" [routerLink]="['/dashboard']"/>
    </div>
  </div>