<div class="main-content">
    <div class="container-fluid">
      <h1>Modulo de indicadores (KPI)</h1>
      <h2>Categoria producto</h2>
      <div class="card">
        <div class="card-header card-header-warning" >
          <h4 class="card-title">CONSULTAR CANTIDAD DE UNIDADES VENDIDAS POR AÑO CATEGORIZADO POR TIPO DE PRODUCTO</h4>
          <p class="card-category">Se consulta el número de unidades vendidas.</p>
        </div>
        <div class="card-content table-responsive table-full-width">
          <table class="table">
            <thead class="text-secondary">
              <th>NOMBRE</th>
              <th>AÑO</th>
              <th>NÚMERO DE UNIDADES VENDIDAS</th>
            </thead>
            <tbody>
              <tr *ngFor="let lista of listaProductos">
                <th scope="row">{{lista.nombre}}</th>
                <th>{{lista.anio}}</th>
                <th>{{lista.numero}} %</th>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <input type="button" class="btn btn-info" value="Regresar a pagina anterior" [routerLink]="['/dashboard']"/>
    </div>
  </div>