<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12"></div>
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-success">
            <h4 class="card-title">Categoría de Clientes</h4>
            <p class="card-category">
              Ingrese las fechas de inicio y fin, elija la categoria y el tipo para filtrar la información                               
            </p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col">
                  <div class="form-group mb-3">
                    <label for="desde">Desde</label>
                    <input name="desde" type="date" class="form-control" />
                  </div>
                  </div>
                  <div class="col">
                    <div class="form-group mb-3">
                      <label for="desde">Hasta</label>
                      <input name="hasta" type="date" class="form-control" />
                    </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col">
                    <div class="form-group mb-3">
                      <label for="categoria">Categoria</label>
                      <select class="form-control">
                        <option value="categoria1">Categoria 1</option>
                        <option value="categoria2">Categoria 2</option>
                        <option value="categoria3">Categoria 3</option>
                      </select>
                    </div>
                    </div>
                    <div class="col">
                      <label for="tipo">Tipo</label>
                      <select class="form-control">
                        <option value="tipo1">Tipo 1</option>
                        <option value="tipo1">Tipo 2</option>
                        <option value="tipo1">Tipo 3</option>
                      </select>
                    </div>
                </div>
                <input type="submit" value="Consultar" class="btn btn-sucess" />    
            </form>
          </div>
        </div>
      </div>
    </div>
  <div class="col-md-3"></div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">INDICE DE FIDELIZACIÓN</h4>
          <p class="card-category">Se consulta el indice de fidelización: </p>
        </div>
        <div class="card-body">
          <b>{{ indiceDeFidelizacion }}</b>
        </div>
      </div>
      <input type="button" class="btn btn-info" value="Regresar a pagina anterior" [routerLink]="['/dashboard']" />
    </div>
  </div>
</div>