<div class="main-content">
    <div class="container-fluid">
            <h1>Modulo de indicadores (KPI)</h1>
            <h2>Seleccione la categoria deseada</h2>
        <div class="row">
            <div class="col-md-6">
                
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">CLIENTES</h4>
                        <p class="card-category">Consultar indicador a nivel de clientes</p>
                    </div>
                    <div class="card-body">
                        <input type="button" class="btn btn-info" value="Consultar" [routerLink]="['/clientekpi']">
                        </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">PRODUCTOS</h4>
                        <p class="card-category">Consultar indicador a nivel de productos</p>
                    </div>
                    <div class="card-body">
                            <input type="button" class="btn btn-info" value="Consultar" [routerLink]="['/productokpi']">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">VENTAS</h4>
                        <p class="card-category">Consultar indicador a nivel de ventas</p>
                    </div>
                    <div class="card-body">
                            <input type="button" class="btn btn-info" value="Consultar" [routerLink]="['/ventaskpi']">
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>