<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12 col-md-12">
              <div class="card">
                  <div class="card-header card-header-tabs card-header-success">
                      <h4 class="card-title">Tareas</h4>
                      <p class="card-category">Peticiones, quejas y reclamos</p>
                  </div>
                  <div class="card-body table-responsive">
                     <table class="table table-hover"  >
                          <thead class="text-dark">
                              <th>ID</th>
                              <th>Tipo</th>
                              <th>Descripcion</th>
                              <th>Estado</th>
                              <th>Respuesta</th>
                              <th>Cliente</th>
                              <th>Email</th>
                              <th>Telefono</th>
                              <th>Editar</th>
                          </thead>
                          <tbody>
                              <tr *ngFor="let pqr of pqrs">
                                <td>{{pqr.id_pqr}}</td>
                                <td>{{pqr.tipo_pqr}}</td>
                                <td>{{pqr.descripcion_pqr}}</td>
                                <td>{{pqr.estado_pqr.estado}}</td>
                                <td>{{pqr.respuesta_pqr}}</td>
                                <td>{{pqr.id_cliente.nombre_cliente}}</td>
                                <td>{{pqr.id_cliente.email_cliente}}</td>
                                <td>{{pqr.id_cliente.tel_cliente}}</td>
                                <td>
                                    <button (click)="editar(pqr)" class="btn btn-warning btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">edit</i>
                                    </button>
                                    <!--<button (click)="eliminar(pqr)" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                        <i class="material-icons">close</i>
                                    </button>-->
                                </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
